# Logs
*.log
logs/
*.txt

# Data / DB
data/
*.db
*.sqlite
*.sqlite3
*.json

# Secrets
.env
.env.*
config/secrets.json
token.txt

# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Nginx / system (au cas où)
*.pid
